body {
    background-image: url(background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;

    color: white;
    padding-inline: 40px;

    background: rgba(8, 242, 252, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
}